*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;

}
/* body{
    color: #ededed;
    background-image: url(./bg1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
} */
#homee{
    height: 750px;
    width: 100%;
    color: #ededed;

}
#homee button{
    height: 50px;
    width: 200px;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    color: black;
    font: bold;
    font-size: 25px;
}
#homee .header{
    height: 50px;
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 10%;
    background-color: black;
    display: flex;
    justify-content: right;
    align-items: center;
    /* z-index: 100; */
}
#homee .nav a{
    /* background-color: red; */
    display: inline-block;
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
/* .menu{
    height: 80px;
    background-color: black;
    width: 700px;
    display: flex;
    justify-content: space-around;
    align-items: center;
} */
#homee #home{
    height: 650px;
    width: 100%;
    background-image: url(./newbg1.jpeg);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    /* background-color: red */
    ;
    /* background-color: plum; */
    display: flex;
    justify-content: space-evenly;
    /* display: grid; */
    align-items: center;

}
#homee .home{
    height: 500px;
    /* background-color: grey; */
    width: 700px;
    display: flex;
    justify-content: center;
    /* display: grid;
    align-items: center; */
}
#homee .home1{
    height: 500px;
    /* background-color: grey; */
    width: 350px;
    display: flex;
    justify-content: center;
    /* display: grid; */
    align-items: start; 
}
#homee img{
    height: 500px;
    width: 400px;
}
#homee p{
    font-size: 20px;
    color: black;
    font: caption;

}
#homee h1{
    font-size: 40px;
    color: black;
}
#homee span{
    font-size: 50px;
    color: black;
}
#homee #b{
    height: 400px;
    width: 500px;
    display: flex;
    justify-content: right;
    display: grid;
    align-items: center;

}
#homee #f{
    height: 200px;
    width: 500px;
    display: flex;
    justify-content: right;
    align-items: end;

}
#homee #s{
    height: 200px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: start;

}

#aboutt
{
    height: 700px;
    width: 100%;
    /* width: 1500px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(./bg2.jpg);
    /* background-attachment: fixed; */
    background-size: cover;
    
}

#aboutt #about1{
    height: 250px;
    width: 650px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    /* display: grid;
    align-items: center; */
}
#aboutt #about2{
    height: 80px;
    width: 650px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    /* display: grid;
    align-items: center; */
}
#aboutt p{
    font-size: 15px;
    color: black;
    font-style: normal;
   
}
#aboutt #l{
    height: 600px;
    width: 800px;
    /* background-color: aqua; */
    display: flex;
    justify-content: right;
    display: grid;
    align-items: end;
}
#aboutt #r{
    height: 600px;
    width: 600px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#aboutt img{
    height: 400px;
    width: 400px;
}
#aboutt h1{
    font-size: 30px;
    font: bold;
}
#aboutt #about3{
    height: 200px;
    width: 650px;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-around;
    /* display: grid;
    align-items: center; */
}
#aboutt .i{
    height: 100px;
    width: 100px;
}
#projcts{
    height: 700px;
    width: 100%;
    background-image: url(./bg3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    display: flex;
    justify-content: right;
}
#projcts #a{
    /* background-color: blue; */
    height: 600px;
    width: 700px;
    display: grid;
    align-items: center;
}
#projcts .b{
    height: 250px;
    width:600px ;
    /* background-color: brown; */
    display: flex;
    justify-content: center;
    align-items: end;
    color: white;
}
#projcts .bb{
    height: 250px;
    width:700px ;
    /* background-color: brown; */
    display: flex;
    justify-content: center;
    align-items: start;
    color: white;
}
#projcts h1{
    font-size: 25px;
    font: bold;
}
#contct #home{
    height: 500px;
    width: 600px;
    /* background-color: cornflowerblue; */
    font: bold;
    font-size: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#contct{
    height: 600px;
    width: 100%;
    background-image: url(./bg4.jpeg);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    display: flex;
    justify-content: center;
    display: grid;
    align-items: center;
}
#contct #l{
    height: 250px;
    width: 200px;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: right;
    display: grid;
    align-items: center;
}
#contct #r{
    height: 240px;
    width: 350px;
    /* background-color: pink; */
    display: flex;
    justify-content: left;
    display: grid;
    align-items: center;
}
#contct h1{
    font: bold;
    font-size: 20px;
}
#contct .hh{
    /* font: bold; */
    font-size: 20px;
}
footer{
    background-color: black;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer img{
    height: 50px;
    width: 100px;
}
